# local configurations
/nomad/development.hcl

# secret
/configs/bot-secret.env

# Terraform plugins
.terraform/
terraform/terraform.tfvars

# Terraform states
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
