[Unit]
Description=Detach CSI volume claim which is not claimed actully.
Wants=csi-nasty-hack.timer

[Service]
Type=oneshot
ExecStart=/etc/nomad.d/csi-nasty-hack

[Install]
WantedBy=multi-user.target
