[Unit]
Description=Detach CSI volume claim which is not claimed actully.
Requires=csi-nasty-hack.service

[Timer]
Unit=csi-nasty-hack.service
OnCalendar=*:0/3

[Install]
WantedBy=timers.target
